.card {
    margin: 0 0 1.34rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: flex-end;
    border-radius: 0.625rem;
    background-color: #FF6060; 
    width: 19rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 720px) {
        width: 100%;
    }
    
    & h2{
        color: white;
        font-size: 1.125rem;
        font-weight: 400;
        
        line-height: 1.6rem;
        margin: 0rem;   
        max-width: 10rem;

    }
}
