@use "./variable" as *;
@use "./mixin" as *;

.collapse-container {

  width: 100%;
  @media (min-width: 1440px) {
    width: 90%;
    margin: auto;
  }
}

.collapsible-header {
  background-color: $primary-color;
  color: $color-text;
  padding: 0px 10px;
  @include center-flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 5px;
  height: 1.875rem;
  @media (min-width: 1440px) {
    font-size: 1.5rem;
    padding: 0.625rem 1rem;
  }
}

.collapsible-icon {
  transition: transform 0.3s ease-in-out;
  transform: rotate(-90deg);

  svg {
    height: 2em;
    width: 2em;
  }

  &.open {
    transform: rotate(90deg); // Pointe vers le bas quand ouvert
  }
}

.collapsible-content {
  color: $primary-color;
  border-radius: 0 0 5px 5px;
  padding: 0 1rem;
  transform-origin: top;
  transition: height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  height: 0; // initialisation de la hauteur à 0
  opacity: 0;

  &.open {
    opacity: 1;
    padding: 1rem;
    background-color: $color-background;
  }

  .collapsible-inner {
    transform: scaleY(0);
  }

  &.open .collapsible-inner {
    transform: scaleY(1);
  }

  p {
    margin: 0;
    padding: 0;
    @media (min-width: 1440px){
      font-size: 1.125rem;
    }
  }

  .no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      padding: 2px;
    }
  }
}




.logementCollapse{
  @media (min-width:1440px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
  }
  
}