.Footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    background: #000;
    margin-top: 1rem;
    & #logoFooter{
        padding-top: 4rem;
    }
    & p{
        color: white;
        margin-bottom: 3.62rem;
        max-width: 6.64rem;
        
            
        @media (min-width: 1440px ) {
            margin: 2.62rem;
            font-size: 1.5rem;
            max-width: 100%;
        }
    }
}