.Header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    .logo{
        max-width: 9rem;
        max-height: 2.93rem;
        flex-shrink: 0;
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.625rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        & a{
            text-decoration: none;
            color: #FF6060;
        }
        & a:hover {
          text-decoration: underline;
        }
        
    }
}