.Header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    @media (min-width: 1440px) {
        padding: 2.81rem 6.25rem 0;
    }
    .logo{
        max-width: 9rem;
        max-height: 2.93rem;
        flex-shrink: 0;
        @media (min-width: 1440px) {
            width: 14rem;
            height: 4.25rem;
        }
    }
    nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1.625rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        @media (min-width: 1440px) {
            gap: 3.6rem;
        }
        & a{
            text-decoration: none;
            color: #FF6060;
            text-transform: uppercase;
            @media (min-width: 1440px) {
                font-size: 1.5rem;
                text-transform: none;
            }
        }
        & .active {
            text-decoration: underline;
          }
          
        
    }
}

